vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Aug 2015 22:54:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LORIG_LAPTOP\\Lori
vti_modifiedby:SR|LORIG_LAPTOP\\Lori
vti_timecreated:TR|06 Aug 2015 06:15:46 -0000
vti_backlinkinfo:VX|Resources/machining.html Archive/AwardSubmissions.html Resources/Communications.html Resources/Safety.html About/67Percent.html TeamAdmin/ApplicationProcess.html Resources/Machining2.html Resources/Electrical.html Media/InThePress.html css/Template.dwt Media/GetConnected.html About/CommunityOutreach.html Archive/EngineeringDesign.html Resources/Assembly.html TeamAdmin/Governance.html Archive/TeamHistory.html About/ContactUs.html Resources/CAD.html main.html index.html About/teamoverview.html Media/Photos.html TeamAdmin/CommunityRewards.html About/Calendar.html TeamAdmin/Forms.html
vti_nexttolasttimemodified:TW|08 Aug 2015 22:53:04 -0000
vti_cacheddtm:TX|08 Aug 2015 22:54:08 -0000
vti_filesize:IR|6783
vti_cachedlinkinfo:VX|S|../images/background.png S|../images/background.png S|../images/background.png
vti_cachedsvcrellinks:VX|FSUS|images/background.png FSUS|images/background.png FSUS|images/background.png
